.el-dashboard {
    margin-top: -10px;

    .projects {
        list-style: none;

        li.el-dashboardItem {
            float:left;
            margin-left: 10px;
            margin-top: 10px;
        }

        &.columns-1 .el-dashboardItem {            
            margin-left: 0;
            width: 100%;
        }

        &.columns-2 li.el-dashboardItem {
            width: ~"calc(50% - 5px)";

            &:nth-of-type(2n+1) {
                margin-left: 0;
            }
        }

        &.columns-3 li.el-dashboardItem {
            width: ~"calc(33.333% - 6.66px)";

            &:nth-of-type(3n+1) {
                margin-left: 0;
            }
        }

        &.columns-4 li.el-dashboardItem {
            width: ~"calc(25% - 15px)";

            &:nth-of-type(4n+1) {
                margin-left: 0;
            }
        }

        &.columns-5 li.el-dashboardItem {
            width: ~"calc(20% - 16px)";

            &:nth-of-type(5n+1) {
                margin-left: 0;
            }
        }

        &.columns-6 li.el-dashboardItem {
            width: ~"calc(16.666% - 17px)";

            &:nth-of-type(6n+1) {
                margin-left: 0;
            }
        }

        &.columns-7 li.el-dashboardItem {
            width: ~"calc(14.285% - 17.2px)";

            &:nth-of-type(7n+1) {
                margin-left: 0;
            }
        }

        &.columns-8 li.el-dashboardItem {
            width: ~"calc(12.5% - 22.857px)";

            &:nth-of-type(4n+1) {
                margin-left: 0;
            }
        }

        @media(max-width: 1080px) {
            & .el-dashboardItem {            
                margin-left: 0 !important;
                width: 100% !important;
            }
        }
    }
}
