.widthCalc(@columns, @size, @padding) {
    @percentage: (100 / @columns) * @size;
    width: e(%("calc(%a% - %a)", @percentage, @padding));
}

.el-dashboard {
    margin-top: -5px;
    margin-left: -10px;
    overflow: hidden;

    .projects {
        list-style: none;

        li.el-dashboardItem {
            float: left;
            margin-left: 10px;
            margin-top: 10px;
            width: 0px;

            @media(max-width: 768px) {
                & {
                    width: 100% !important;
                }
            }
        }

        .generate-columns(20);

        .generate-columns(@n, @i: 1) when (@i =< @n) {
            &.columns-@{i} {
                .generate(12);

                .generate(@n2, @i2: 1) when (@i2 =< @n2) {
                    li.el-dashboardItem.queries_@{i2} {
                        .widthCalc(@i, @i2, 10px);
                    }

                    .generate(@n2, (@i2 + 1));
                }
            }

            .generate-columns(@n, (@i + 1));
        }
    }
}
