<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="robots" content="noindex, nofollow"/>
    <title>Dashboard</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/bundling/main.css")?v=@MvcApplication.Hash">
    <script type="text/javascript" src="@Url.Content("~/bundling/main.js")?v=@MvcApplication.Hash"></script>
    <script>window.scripts = []; window.basePath = "@Url.Content("~")";</script>
</head>
<body class="el-body">
    <div class="body-content clearfix">
        @RenderBody()
    </div>
</body>
</html>
